
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <script>
    function ResetForm() {
        document.getElementById('TxtFName').value = "";
        document.getElementById('TxtLName').value = "";
        document.getElementById('TxtSalary').value = "";
    }
    </script>
    <meta name="viewport" content="width=device-width" />
    <title>CreateEmployee</title>
</head>
<body style="font-family:Arial">
    <div><br />
        <form action="/Employee/SaveEmployee" method="post">
            First Name: <input type="text" id="TxtFName" name="FirstName" value="" /><br /><br />
            Last Name: <input type="text" id="TxtLName" name="LastName" value="" /><br /><br />
            Salary: <input type="text" id="TxtSalary" name="Salary" value="" /><br /><br />
            <input type="submit" name="BtnSubmit" value="Save Employee" />
            <input type="button" name="BtnSubmit" value="Reset" onclick="ResetForm();" />
            <input type="submit" name="BtnSubmit" value="Cancel" />
        </form>
    </div>
</body>
</html>