
@using Proj1.ViewModels;
@model EmployeeListViewModel
@{
    Layout = null;
    //    Proj1.Models.Employee emp = (Proj1.Models.Employee)ViewData["Employee"];
    // Proj1.Models.Employee emp = (Proj1.Models.Employee)ViewBag.Employee;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyView</title>
</head>
<body style="font-family:Arial">
    <div>
        <a href ="/Employee/AddNew">Add New</a>
            <table>
                <tr>
                    <th>Employee Name</th>
                    <th>Salary</th>
                </tr>
                @foreach (EmployeeViewModel item in Model.Employees)
            {
                    <tr>
                        <td>@item.EmployeeName</td>
                        <td style="background-color:@item.SalaryColor">@item.Salary</td>
                    </tr>
                }
            </table>
</div>
</body>
</html>
